/WebService/nbproject/private/
/WebService/build/
/WebService/dist/
/servletdemo/nbproject/private/
/servletdemo/build/
/Simpleforservlet/nbproject/private/
/Simpleforservlet/build/
/Simpleforservlet/dist/
/jspapplication/nbproject/private/
/jspapplication/dist/
/jspapplication/build/
/demoapp/nbproject/private/
/servletdemo/dist/
/testproject/nbproject/private/
/testapp1/nbproject/private/
/testapp1/build/
/MVCapplication/nbproject/private/
/MVCapplication/build/